InfoHomeBackend/Data/bin/Debug/
InfoHomeBackend/Data/obj/
*.pdb
*.dll
*.cache
*.pdb
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/Entity.pdb
InfoHomeBackend/.idea/.idea.InfoHome/.idea/.name
InfoHomeBackend/.idea/.idea.InfoHome/.idea/encodings.xml
InfoHomeBackend/.idea/.idea.InfoHome/.idea/indexLayout.xml
InfoHomeBackend/.idea/.idea.InfoHome/.idea/misc.xml
InfoHomeBackend/.idea/.idea.InfoHome/.idea/vcs.xml
InfoHomeBackend/Data/bin/Debug/net5.0/Data.dll
InfoHomeBackend/Data/bin/Debug/net5.0/Data.pdb
InfoHomeBackend/Data/bin/Debug/net5.0/Data.runtimeconfig.dev.json
InfoHomeBackend/Data/bin/Debug/net5.0/Entity.dll
InfoHomeBackend/Data/bin/Debug/net5.0/Entity.pdb
InfoHomeBackend/Data/bin/Debug/net5.0/ref/Data.dll
InfoHomeBackend/Data/Migrations/20210527231554_InitialCreate.cs
InfoHomeBackend/Data/Migrations/20210527231554_InitialCreate.Designer.cs
InfoHomeBackend/Data/obj/Data.csproj.nuget.dgspec.json
InfoHomeBackend/Data/obj/Data.csproj.nuget.g.props
InfoHomeBackend/Data/obj/Debug/net5.0/Data.assets.cache
InfoHomeBackend/Data/obj/Debug/net5.0/Data.csproj.CoreCompileInputs.cache
InfoHomeBackend/Data/obj/Debug/net5.0/Data.csproj.FileListAbsolute.txt
InfoHomeBackend/Data/obj/Debug/net5.0/Data.csprojAssemblyReference.cache
InfoHomeBackend/Data/obj/Debug/net5.0/Data.dll
InfoHomeBackend/Data/obj/Debug/net5.0/Data.genruntimeconfig.cache
InfoHomeBackend/Data/obj/Debug/net5.0/Data.pdb
InfoHomeBackend/Data/obj/Debug/net5.0/ref/Data.dll
InfoHomeBackend/Data/obj/project.assets.json
InfoHomeBackend/Data/obj/project.nuget.cache
InfoHomeBackend/Entity/bin/Debug/net5.0/Entity.dll
InfoHomeBackend/Entity/bin/Debug/net5.0/Entity.pdb
InfoHomeBackend/Entity/obj/Debug/net5.0/Entity.assets.cache
InfoHomeBackend/Entity/obj/Debug/net5.0/Entity.csproj.FileListAbsolute.txt
InfoHomeBackend/Entity/obj/Debug/net5.0/Entity.csprojAssemblyReference.cache
InfoHomeBackend/Entity/obj/Debug/net5.0/Entity.dll
InfoHomeBackend/Entity/obj/Debug/net5.0/Entity.pdb
InfoHomeBackend/Entity/obj/Entity.csproj.nuget.dgspec.json
InfoHomeBackend/Entity/obj/Entity.csproj.nuget.g.props
InfoHomeBackend/Entity/obj/project.assets.json
InfoHomeBackend/Entity/obj/project.nuget.cache
InfoHomeBackend/Entity/obj/project.packagespec.json
InfoHomeBackend/Entity/obj/rider.project.restore.info
InfoHomeBackend/InfoHomeApi/appsettings.Development.json
InfoHomeBackend/InfoHomeApi/appsettings.json
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/appsettings.Development.json
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/appsettings.json
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/Data.dll
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/Data.pdb
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/Entity.dll
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/Entity.pdb
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/InfoHomeApi.dll
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/InfoHomeApi.pdb
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/InfoHomeApi.runtimeconfig.dev.json
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/publish/appsettings.json
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/publish/web.config
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/Service.dll
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/Service.pdb
InfoHomeBackend/InfoHomeApi/Controllers/PublicacionTipoController.cs
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.assets.cache
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.csproj.CoreCompileInputs.cache
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.csproj.FileListAbsolute.txt
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.csprojAssemblyReference.cache
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.dll
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.genruntimeconfig.cache
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.MvcApplicationPartsAssemblyInfo.cs
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.pdb
InfoHomeBackend/InfoHomeApi/obj/InfoHomeApi.csproj.nuget.dgspec.json
InfoHomeBackend/InfoHomeApi/obj/InfoHomeApi.csproj.nuget.g.props
InfoHomeBackend/InfoHomeApi/obj/project.assets.json
InfoHomeBackend/InfoHomeApi/obj/project.nuget.cache
InfoHomeBackend/InfoHomeApi/obj/project.packagespec.json
InfoHomeBackend/InfoHomeApi/obj/rider.project.restore.info
InfoHomeBackend/Service/bin/Debug/net5.0/Data.dll
InfoHomeBackend/Service/bin/Debug/net5.0/Data.pdb
InfoHomeBackend/Service/bin/Debug/net5.0/Entity.dll
InfoHomeBackend/Service/bin/Debug/net5.0/Entity.pdb
InfoHomeBackend/Service/bin/Debug/net5.0/Service.dll
InfoHomeBackend/Service/bin/Debug/net5.0/Service.pdb
InfoHomeBackend/Service/obj/Debug/net5.0/Service.assets.cache
InfoHomeBackend/Service/obj/Debug/net5.0/Service.csproj.CoreCompileInputs.cache
InfoHomeBackend/Service/obj/Debug/net5.0/Service.csproj.FileListAbsolute.txt
InfoHomeBackend/Service/obj/Debug/net5.0/Service.csprojAssemblyReference.cache
InfoHomeBackend/Service/obj/Debug/net5.0/Service.dll
InfoHomeBackend/Service/obj/Debug/net5.0/Service.pdb
InfoHomeBackend/Service/obj/project.assets.json
InfoHomeBackend/Service/obj/project.nuget.cache
InfoHomeBackend/Service/obj/project.packagespec.json
InfoHomeBackend/Service/obj/rider.project.restore.info
InfoHomeBackend/Service/obj/Service.csproj.nuget.dgspec.json
InfoHomeBackend/Service/obj/Service.csproj.nuget.g.props
InfoHomeBackend/.idea/.idea.InfoHome/.idea/.name
InfoHomeBackend/.idea/.idea.InfoHome/.idea/encodings.xml
InfoHomeBackend/.idea/.idea.InfoHome/.idea/indexLayout.xml
InfoHomeBackend/.idea/.idea.InfoHome/.idea/misc.xml
InfoHomeBackend/.idea/.idea.InfoHome/.idea/vcs.xml
InfoHomeBackend/Data/bin/Debug/net5.0/Data.dll
InfoHomeBackend/Data/bin/Debug/net5.0/Data.pdb
InfoHomeBackend/Data/bin/Debug/net5.0/Data.runtimeconfig.dev.json
InfoHomeBackend/Data/bin/Debug/net5.0/Entity.dll
InfoHomeBackend/Data/bin/Debug/net5.0/Entity.pdb
InfoHomeBackend/Data/bin/Debug/net5.0/ref/Data.dll
InfoHomeBackend/Data/Migrations/20210527231554_InitialCreate.cs
InfoHomeBackend/Data/Migrations/20210527231554_InitialCreate.Designer.cs
InfoHomeBackend/Data/obj/Data.csproj.nuget.dgspec.json
InfoHomeBackend/Data/obj/Data.csproj.nuget.g.props
InfoHomeBackend/Data/obj/Debug/net5.0/Data.assets.cache
InfoHomeBackend/Data/obj/Debug/net5.0/Data.csproj.CoreCompileInputs.cache
InfoHomeBackend/Data/obj/Debug/net5.0/Data.csproj.FileListAbsolute.txt
InfoHomeBackend/Data/obj/Debug/net5.0/Data.csprojAssemblyReference.cache
InfoHomeBackend/Data/obj/Debug/net5.0/Data.dll
InfoHomeBackend/Data/obj/Debug/net5.0/Data.genruntimeconfig.cache
InfoHomeBackend/Data/obj/Debug/net5.0/Data.pdb
InfoHomeBackend/Data/obj/Debug/net5.0/ref/Data.dll
InfoHomeBackend/Data/obj/project.assets.json
InfoHomeBackend/Data/obj/project.nuget.cache
InfoHomeBackend/Entity/bin/Debug/net5.0/Entity.dll
InfoHomeBackend/Entity/bin/Debug/net5.0/Entity.pdb
InfoHomeBackend/Entity/obj/Debug/net5.0/Entity.assets.cache
InfoHomeBackend/Entity/obj/Debug/net5.0/Entity.csproj.FileListAbsolute.txt
InfoHomeBackend/Entity/obj/Debug/net5.0/Entity.csprojAssemblyReference.cache
InfoHomeBackend/Entity/obj/Debug/net5.0/Entity.dll
InfoHomeBackend/Entity/obj/Debug/net5.0/Entity.pdb
InfoHomeBackend/Entity/obj/Entity.csproj.nuget.dgspec.json
InfoHomeBackend/Entity/obj/Entity.csproj.nuget.g.props
InfoHomeBackend/Entity/obj/project.assets.json
InfoHomeBackend/Entity/obj/project.nuget.cache
InfoHomeBackend/Entity/obj/project.packagespec.json
InfoHomeBackend/Entity/obj/rider.project.restore.info
InfoHomeBackend/InfoHomeApi/appsettings.Development.json
InfoHomeBackend/InfoHomeApi/appsettings.json
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/appsettings.Development.json
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/appsettings.json
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/Data.dll
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/Data.pdb
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/Entity.dll
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/Entity.pdb
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/InfoHomeApi.dll
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/InfoHomeApi.pdb
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/InfoHomeApi.runtimeconfig.dev.json
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/publish/appsettings.json
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/publish/web.config
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/Service.dll
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/Service.pdb
InfoHomeBackend/InfoHomeApi/Controllers/PublicacionTipoController.cs
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.assets.cache
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.csproj.CoreCompileInputs.cache
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.csproj.FileListAbsolute.txt
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.csprojAssemblyReference.cache
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.dll
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.genruntimeconfig.cache
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.MvcApplicationPartsAssemblyInfo.cs
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.pdb
InfoHomeBackend/InfoHomeApi/obj/InfoHomeApi.csproj.nuget.dgspec.json
InfoHomeBackend/InfoHomeApi/obj/InfoHomeApi.csproj.nuget.g.props
InfoHomeBackend/InfoHomeApi/obj/project.assets.json
InfoHomeBackend/InfoHomeApi/obj/project.nuget.cache
InfoHomeBackend/InfoHomeApi/obj/project.packagespec.json
InfoHomeBackend/InfoHomeApi/obj/rider.project.restore.info
InfoHomeBackend/Service/bin/Debug/net5.0/Data.dll
InfoHomeBackend/Service/bin/Debug/net5.0/Data.pdb
InfoHomeBackend/Service/bin/Debug/net5.0/Entity.dll
InfoHomeBackend/Service/bin/Debug/net5.0/Entity.pdb
InfoHomeBackend/Service/bin/Debug/net5.0/Service.dll
InfoHomeBackend/Service/bin/Debug/net5.0/Service.pdb
InfoHomeBackend/Service/obj/Debug/net5.0/Service.assets.cache
InfoHomeBackend/Service/obj/Debug/net5.0/Service.csproj.CoreCompileInputs.cache
InfoHomeBackend/Service/obj/Debug/net5.0/Service.csproj.FileListAbsolute.txt
InfoHomeBackend/Service/obj/Debug/net5.0/Service.csprojAssemblyReference.cache
InfoHomeBackend/Service/obj/Debug/net5.0/Service.dll
InfoHomeBackend/Service/obj/Debug/net5.0/Service.pdb
InfoHomeBackend/Service/obj/project.assets.json
InfoHomeBackend/Service/obj/project.nuget.cache
InfoHomeBackend/Service/obj/project.packagespec.json
InfoHomeBackend/Service/obj/rider.project.restore.info
InfoHomeBackend/Service/obj/Service.csproj.nuget.dgspec.json
InfoHomeBackend/Service/obj/Service.csproj.nuget.g.props
InfoHomeBackend/Data/bin/Debug/net5.0/Data.dll
InfoHomeBackend/Data/bin/Debug/net5.0/Data.pdb
InfoHomeBackend/Data/bin/Debug/net5.0/Data.runtimeconfig.dev.json
InfoHomeBackend/Data/bin/Debug/net5.0/Entity.dll
InfoHomeBackend/Data/bin/Debug/net5.0/Entity.pdb
InfoHomeBackend/Data/bin/Debug/net5.0/ref/Data.dll
InfoHomeBackend/Data/Migrations/20210527231554_InitialCreate.cs
InfoHomeBackend/Data/Migrations/20210527231554_InitialCreate.Designer.cs
InfoHomeBackend/Data/obj/Data.csproj.nuget.dgspec.json
InfoHomeBackend/Data/obj/Data.csproj.nuget.g.props
InfoHomeBackend/Data/obj/Debug/net5.0/Data.assets.cache
InfoHomeBackend/Data/obj/Debug/net5.0/Data.csproj.CoreCompileInputs.cache
InfoHomeBackend/Data/obj/Debug/net5.0/Data.csproj.FileListAbsolute.txt
InfoHomeBackend/Data/obj/Debug/net5.0/Data.csprojAssemblyReference.cache
InfoHomeBackend/Data/obj/Debug/net5.0/Data.dll
InfoHomeBackend/Data/obj/Debug/net5.0/Data.genruntimeconfig.cache
InfoHomeBackend/Data/obj/Debug/net5.0/Data.pdb
InfoHomeBackend/Data/obj/Debug/net5.0/ref/Data.dll
InfoHomeBackend/Data/obj/project.assets.json
InfoHomeBackend/Data/obj/project.nuget.cache
InfoHomeBackend/Entity/bin/Debug/net5.0/Entity.dll
InfoHomeBackend/Entity/bin/Debug/net5.0/Entity.pdb
InfoHomeBackend/Entity/obj/Debug/net5.0/Entity.assets.cache
InfoHomeBackend/Entity/obj/Debug/net5.0/Entity.csproj.FileListAbsolute.txt
InfoHomeBackend/Entity/obj/Debug/net5.0/Entity.csprojAssemblyReference.cache
InfoHomeBackend/Entity/obj/Debug/net5.0/Entity.dll
InfoHomeBackend/Entity/obj/Debug/net5.0/Entity.pdb
InfoHomeBackend/Entity/obj/Entity.csproj.nuget.dgspec.json
InfoHomeBackend/Entity/obj/Entity.csproj.nuget.g.props
InfoHomeBackend/Entity/obj/project.assets.json
InfoHomeBackend/Entity/obj/project.nuget.cache
InfoHomeBackend/InfoHomeApi/appsettings.Development.json
InfoHomeBackend/InfoHomeApi/appsettings.json
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/appsettings.Development.json
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/appsettings.json
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/Data.dll
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/Data.pdb
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/Entity.dll
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/Entity.pdb
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/InfoHomeApi.dll
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/InfoHomeApi.pdb
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/InfoHomeApi.runtimeconfig.dev.json
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/publish/appsettings.json
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/publish/web.config
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/Service.dll
InfoHomeBackend/InfoHomeApi/bin/Debug/net5.0/Service.pdb
InfoHomeBackend/InfoHomeApi/Controllers/PublicacionTipoController.cs
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.assets.cache
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.csproj.CoreCompileInputs.cache
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.csproj.FileListAbsolute.txt
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.csprojAssemblyReference.cache
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.dll
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.genruntimeconfig.cache
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.MvcApplicationPartsAssemblyInfo.cs
InfoHomeBackend/InfoHomeApi/obj/Debug/net5.0/InfoHomeApi.pdb
InfoHomeBackend/InfoHomeApi/obj/InfoHomeApi.csproj.nuget.dgspec.json
InfoHomeBackend/InfoHomeApi/obj/InfoHomeApi.csproj.nuget.g.props
InfoHomeBackend/InfoHomeApi/obj/project.assets.json
InfoHomeBackend/InfoHomeApi/obj/project.nuget.cache
InfoHomeBackend/Service/bin/Debug/net5.0/Data.dll
InfoHomeBackend/Service/bin/Debug/net5.0/Data.pdb
InfoHomeBackend/Service/bin/Debug/net5.0/Entity.dll
InfoHomeBackend/Service/bin/Debug/net5.0/Entity.pdb
InfoHomeBackend/Service/bin/Debug/net5.0/Service.dll
InfoHomeBackend/Service/bin/Debug/net5.0/Service.pdb
InfoHomeBackend/Service/obj/Debug/net5.0/Service.assets.cache
InfoHomeBackend/Service/obj/Debug/net5.0/Service.csproj.CoreCompileInputs.cache
InfoHomeBackend/Service/obj/Debug/net5.0/Service.csproj.FileListAbsolute.txt
InfoHomeBackend/Service/obj/Debug/net5.0/Service.csprojAssemblyReference.cache
InfoHomeBackend/Service/obj/Debug/net5.0/Service.dll
InfoHomeBackend/Service/obj/Debug/net5.0/Service.pdb
InfoHomeBackend/Service/obj/project.assets.json
InfoHomeBackend/Service/obj/project.nuget.cache
InfoHomeBackend/Service/obj/Service.csproj.nuget.dgspec.json
InfoHomeBackend/Service/obj/Service.csproj.nuget.g.props
*.props
