<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Buscar
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-toolbar mode="ios" class="ion-no-border">
    <ion-searchbar mode="ios" placeholder="Buscar" animated debounce="750" [value]="textoBuscar"
      (ionChange)="onSearchChange($event)">
    </ion-searchbar>
  </ion-toolbar>


<ion-content [fullscreen]="true" class="ion-padding">

  <ion-list *ngIf="publicaciones.length === 0">
    <ion-list-header>
      <ion-label>Sugerencias</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let sugerencia of sugerencias" (click)="textoBuscar = sugerencia">
      <ion-label color="primary">{{sugerencia}}</ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="publicaciones.length !== 0">
    <br>
    <ion-label class="titulo-inicio">Arriendos</ion-label>
    <app-slideshow-backdrop [publicaciones]="this.publicacionesEnArriendo"></app-slideshow-backdrop>
    <ion-label class="titulo-inicio">Casas en venta</ion-label>
    <app-slideshow-backdrop [publicaciones]="this.publicacionesEnVenta"></app-slideshow-backdrop>
  </div>

  <br>
  <ion-label *ngIf="resultado"> No se encontraron resultados </ion-label>
</ion-content>