ion-header {
  ion-toolbar {
    padding-top: 40px;
    ion-title {
      font-size: 30px;
      font-weight: 800;
    }
  }
}
ion-content {
  .titulo-inicio {
    font-size: 30px;
    margin-left: 15px !important;
    margin-top: 40px !important;
    font-weight: 700 !important;
  }
}
