ion-content {
  form {
    ion-list {
      ion-row {
        ion-col {
          ion-item {
            ion-label {
              font-size: 18px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

.inputNumeroCuartosBanos {
  padding-top: 10px !important;
  padding-bottom: 5px !important;
}
