<ion-header mode="md" class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-button color="success" class="new-button" slot="end" fill="solid" shape="round" routerLink='/Publicacion'>
      Publicar
    </ion-button>
    <ion-title class="titulo-inicio">
      InfoHome
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-margin" [fullscreen]="true">

  <br>
  <ion-label class="titulo-inicio">Arriendos</ion-label>
  <app-slideshow-backdrop [publicaciones]="this.publicacionesEnArriendo"></app-slideshow-backdrop>
  <ion-label class="titulo-inicio">Casas en venta</ion-label>
  <app-slideshow-backdrop [publicaciones]="this.publicacionesEnVenta"></app-slideshow-backdrop>
</ion-content>