<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-button color="success" class="new-button" size="small" slot="end" fill="solid" shape="round"
                routerLink='/Publicacion'>
      Publicar
    </ion-button>
    <ion-title class="titulo-tab" size="large" slot="start">
      InfoHome
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-margin" [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-slide-tipo-publicacion></app-slide-tipo-publicacion>
</ion-content>
